/* src/components/ProductPage.css */

.product-page-container {
  /* background-color: #c00902; */
  display: flex;
  margin-top: 116px;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.product-page-top{
  /* background-color: #f5c518; */
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
}

.product-image {
  /* background-color: #333; */
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}


.product-image img {
  width: 90%;
  height: auto;
  aspect-ratio: 3/2;
  object-fit: contain;
  /* mix-blend-mode: color-burn; */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.product-image img:hover {
  transform: scale(1.05);
}

.product-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.product_details {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 8px;
}

.product-details h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.product-details p {
  font-size: 1em;
  margin-bottom: 5px;
}

.product-details strong {
  font-weight: bold;
}


.product-price {
  font-size: 1.5em;
  color: #e00a02;
  margin: 10px 0;
}

.product-rating .star {
  font-size: 1.2em;
  color: #ddd;
  margin-right: 5px;
}

.star {
  font-size: 1.2em;
  color: #ddd;
  margin-right: 5px;
}

.product-rating .star.filled {
  color: #f5c518;
}

.add-to-cart-btn {
  background-color: #e00a02;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.add-to-cart-btn:hover {
  background-color: #c00902;
}







.product-extra-details {
  
   width: 1000px;
  margin: 50px auto;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.tabs {
  display: flex;
  justify-content: space-around;
  background: #007bff;
  border-bottom: 2px solid #0056b3;
}

.tabs button {
  flex: 1 1 50%; /* Adjusted to take 50% of the width */
  padding: 15px 20px;
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.tabs button:hover {
  background: #0056b3;
}

.tabs button.active {
  background: #0056b3;
  font-weight: bold;
}

.tab-content {
  padding: 20px;
  height: 300px;
  overflow:auto;
}

.tab-pane {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.tab-pane.active {
  display: block;
  opacity: 1;
}

.tab-pane p, .tab-pane ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tab-pane ul {
  padding: 10px 0;
}

.tab-pane ul li {
  background: #f9f9f9;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tab-pane ul li p {
  margin: 0;
}

.tab-pane ul li strong {
  color: #007bff;
}

.product-extra-details button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.product-extra-details button:hover {
  background: #0056b3;
}

.product-extra-details button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}



/* /OfferCard.css */

.offer-card_main{
  margin-bottom: 10px;
  padding: 0px!important;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.offer-card {
  display: flex;
  align-items:stretch;
  justify-content:space-around ;
  background: #f9f9f9;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.offer-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.offer-image img {
  width: 66px;
  height: auto; 
 
   object-fit: contain;
}

.offer-details {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.offer-details h3 {
  margin: 0;
  font-size: 1.2em;
}

.offer-details p {
  margin: 5px 0;
  color: #333;
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}











 /* Modal Container */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex !important;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  max-width: 90%;
  position: relative;
}


.close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff5c5c;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}


.modal-content form div {
  margin-bottom: 15px;
}

.modal-content label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.modal-content input[type="number"],
.modal-content textarea {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.modal-content textarea{
  height: 150px;
}

.modal-content button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.modal-content button[type="submit"]:hover {
  background-color: #45a049;
}



/* review card*/
.review-card {
  display: flex;
  align-items: center;
  background: #f9f9f9;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.review-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.user-icon {
  flex-shrink: 0;
  margin-right: 15px;
}

.user-icon img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #fff; */
  flex-grow: 1;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.review-header strong {
  color: #007bff;
}

.rating {
  /* background: #ffd700; */
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: bold;
}

.review-text {
  margin: 0;
  color: #333;
}
.review-date {
  font-size: 16px;
  color: #605c5c;
  margin-bottom: 10px;
}










@media (min-width: 768px) {
  .product-page-container {
    /* flex-direction: row; */
    justify-content: space-between;
  }

  .product-details {
    text-align: left;
    margin-left: 20px;
  }

  .product-extra-details {
   
    margin-top: 30;
  }
}

@media (max-width: 1030px) {
  .product-extra-details{
    width: 600px;
  }
}

@media (max-width: 798px) {
  .product-page-top{
    flex-direction: column;
  }

  .product-extra-details{
    width: 500px;
  }
}


@media (max-width: 530px) {
  .product-page-top{
    flex-direction: column;
  }

  .product-extra-details{
    width: 300px;
  }
}




